<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.bs.mapper.DemandMapper">
    <select id="getDemand" parameterType="String" resultType="cn.wy.bs.dto.DemandDto">
        SELECT d.*,p.PROJECTNAME,p.PROJECTNO,u.REALNAME 'PMName'
        FROM t_demand d,t_project p,t_user u
        WHERE d.ISDELETE = 0 AND p.ISDELETE = 0 AND p.PMID = u.USERNAME
        AND d.PROJECTID = p.ID
        <if test="userName!=null and userName!=''">
            AND d.CREATENAME = #{userName}
        </if>
        <if test="id!=null and id!=''">
            AND d.id = #{id}
        </if>
        ORDER BY d.CREATETIME DESC
    </select>

    <!--<select id="getDemandNum" parameterType="String" resultType="int">-->
    <!--SELECT count(*)-->
    <!--FROM demand d,project p-->
    <!--WHERE d.ISDELETE = 0 AND p.ISDELETE = 0-->
    <!--AND d.PROJECTID = p.ID-->
    <!--<if test="userName!=null and userName!=''">-->
    <!--AND (d.CREATENAME = #{userName}-->
    <!--OR d.DEVID = #{userName})-->
    <!--</if>-->
    <!--<if test="state!=null and state!=''">-->
    <!--AND d.STATE = #{state}-->
    <!--</if>-->
    <!--<if test="demandName!=null and demandName!=''">-->
    <!--AND d.DEMANDNAME LIKE concat('%',#{demandName},'%')-->
    <!--</if>-->
    <!--</select>-->

    <select id="getDemandList" resultType="cn.wy.bs.dto.DemandDto">
        SELECT d.*,p.PROJECTNAME,p.PROJECTNO,u.REALNAME 'PMName'
        FROM t_demand d,t_project p,t_user u
        WHERE d.ISDELETE = 0 AND p.ISDELETE = 0 AND p.PMID = u.USERNAME
        AND d.PROJECTID = p.ID
        <if test="userName!=null and userName!=''">
            AND (d.CREATENAME = #{userName}
            OR d.DEVID = #{userName})
        </if>
        <if test="state!=null and state!=''">
            AND d.STATE = #{state}
        </if>
        <if test="demandName!=null and demandName!=''">
            AND d.DEMANDNAME LIKE concat('%',#{demandName},'%')
        </if>
        ORDER BY d.CREATETIME DESC
    </select>

    <select id="getDemandListByDevId" parameterType="String" resultType="cn.wy.bs.dto.DemandDto">
        SELECT d.*,p.PROJECTNAME,p.PROJECTNO,u.REALNAME 'PMName'
        FROM t_demand d,t_project p,t_user u
        WHERE d.ISDELETE = 0 AND p.ISDELETE = 0 AND u.ISDELETE = 0
            AND d.PROJECTID = p.ID AND p.PMID = u.USERNAME
            AND d.DEVID = #{devId}
            ORDER BY d.DELIVERYTIME ASC
    </select>

    <select id="getDemandListByCreactName" parameterType="String" resultType="cn.wy.bs.dto.DemandDto">
        SELECT d.*,p.PROJECTNAME,p.PROJECTNO,u.REALNAME 'PMName'
        FROM t_demand d,t_project p,t_user u
        WHERE d.ISDELETE = 0 AND p.ISDELETE = 0 AND p.PMID = u.USERNAME
        AND d.PROJECTID = p.ID
        <if test="userName!=null and userName!=''">
            AND d.CREATENAME = #{userName}
        </if>
        ORDER BY d.CREATENAME DESC
    </select>

    <select id="getDemandListByIssueId" parameterType="String" resultType="cn.wy.bs.entity.Demand">
        SELECT d.*
        FROM t_demand d
        WHERE d.ISDELETE = 0
          AND d.ISSUEID = #{issueId}
        ORDER BY d.CREATENAME DESC
    </select>

    <select id="getDemandListByState" parameterType="String" resultType="cn.wy.bs.entity.Demand">
        SELECT d.*
        FROM t_demand d
        WHERE d.ISDELETE = 0
          AND d.STATE = #{originalState}
    </select>

</mapper>