<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.bs.mapper.DemandMapper">
    <select id="getDemand" parameterType="String" resultType="cn.wy.bs.dto.DemandDto">
        SELECT d.*,p.PROJECTNAME,p.PROJECTNO,p.id 'projectId',u.REALNAME 'PMName'
        FROM t_demand d,t_project p,t_user u
        WHERE d.ISDELETE = 0 AND p.ISDELETE = 0 AND p.PMID = u.USERNAME
        AND d.PROJECTID = p.ID
        <if test="userName!=null and userName!=''">
            AND d.CREATENAME = #{userName}
        </if>
        ORDER BY d.CREATETIME DESC
    </select>

    <select id="getDemandNum" parameterType="String" resultType="int">
        SELECT count(*)
        FROM t_demand d,t_project p
        WHERE d.ISDELETE = 0 AND p.ISDELETE = 0
        AND d.PROJECTID = p.ID
        <if test="userName!=null and userName!=''">
            AND d.CREATENAME = #{userName}
        </if>
        <if test="state!=null and state!=''">
            AND d.STATE = #{state}
        </if>
        <if test="demandName!=null and demandName!=''">
            AND d.DEMANDNAME LIKE concat('%',#{demandName},'%')
        </if>
    </select>

    <select id="getDemandList" parameterType="cn.wy.bs.utils.Page" resultType="cn.wy.bs.dto.DemandDto">
        SELECT d.*,p.PROJECTNAME,p.PROJECTNO,p.id 'projectId',u.REALNAME 'PMName'
        FROM t_demand d,t_project p,t_user u
        WHERE d.ISDELETE = 0 AND p.ISDELETE = 0 AND p.PMID = u.USERNAME
        AND d.PROJECTID = p.ID
        <if test="params.map.userName!=null and params.map.userName!=''">
            AND d.CREATENAME = #{params.map.userName}
        </if>
        <if test="params.map.state!=null and params.map.state!=''">
            AND d.STATE = #{params.map.state}
        </if>
        <if test="params.map.demandName!=null and params.map.demandName!=''">
            AND d.DEMANDNAME LIKE concat('%',#{params.map.demandName},'%')
        </if>
        ORDER BY d.CREATETIME DESC
        LIMIT #{offset},#{pageSize}
    </select>

    <insert id="add" parameterType="cn.wy.bs.entity.Demand">
        INSERT INTO t_demand (
        id,
        CREATETIME,
        CREATENAME,
        ISDELETE,
        DEMANDNO,
        DEMANDNAME,
        DEMANDDES,
        DEMANDTYPE,
        PROJECTID,
        ACCID,
        STATE
        )
        VALUES (
        REPLACE(UUID(),'-',''),
        #{createTime},
        #{createName},
        0,
        #{demandNo},
        #{demandName},
        #{demandDes},
        #{demandType},
        #{projectId},
        #{accId},
        0
        )
    </insert>

    <update id="updateById" parameterType="cn.wy.bs.entity.Demand">
        UPDATE t_demand
        SET
        MODIFITIME=#{modifiTime},
        MODIFINAME=#{modifiName},
        DEMANDNO=#{demandNo},
        DEMANDNAME=#{demandName},
        DEMANDDES=#{demandDes},
        DEMANDTYPE=#{demandType},
        PROJECTID=#{projectId},
        ACCID=#{accId}
        WHERE id=#{ID}
    </update>

</mapper>