<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.bs.mapper.DemandLogMapper">

    <select id="getByDemandId" parameterType="String" resultType="cn.wy.bs.dto.DemandLogDto">
        SELECT d.*,t.REALNAME opeName
        FROM t_demandlog d,t_user t
        WHERE d.OPEID=t.USERNAME
        AND DEMANDID=#{id}
        ORDER BY d.CREATETIME
    </select>


    <select id="selectByDemandId" parameterType="String" resultType="cn.wy.bs.entity.DemandLog">
        SELECT d.*
        FROM t_demandlog d
        WHERE d.ISDELETE = 0
          AND d.DEMANDID=#{id}
          AND d.DEMANDSTATE IN ("4","5","6")
        ORDER BY d.OPETIME
    </select>

    <select id="selectByDemandIdDuringTheMonth" parameterType="String" resultType="cn.wy.bs.entity.DemandLog">
        SELECT d.*
        FROM t_demandlog d
        WHERE d.ISDELETE = 0
          AND d.DEMANDID=#{id}
          AND d.DEMANDSTATE IN ("4","5","6")
          AND DATE_FORMAT( d.OPETIME, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        ORDER BY d.OPETIME
    </select>

</mapper>