<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.bs.mapper.DemandMapper">
    <select id="findDemand" parameterType="string" resultType="cn.wy.bs.entity.Demand">
        SELECT *
        FROM t_demand
        WHERE isdelete=0
        <if test="userName!=null and userName!=''">
            AND devID=#{userName}
        </if>

    </select>

</mapper>