<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.bs.mapper.ProjectMapper">
    <select id="getProject" parameterType="string" resultType="cn.wy.bs.dto.ProjectDto">
        <!--SELECT *-->
        <!--FROM t_project-->
        <!--WHERE isdelete=0-->
        <!--<if test="id!=null and id!=''">-->
            <!--AND id=#{id}-->
        <!--</if>-->
        <!--<if test="projectNO!=null and projectNO!=''">-->
            <!--AND projectNO=#{projectNO}-->
        <!--</if>-->
        <!--<if test="PMID!=null and PMID!=''">-->
            <!--AND PMID=#{PMID}-->
        <!--</if>-->
        SELECT p.*,u.REALNAME 'PMNAME'
        FROM t_project p,t_user u
        WHERE p.ISDELETE = 0 AND u.ISDELETE = 0
        AND p.PMID = u.USERNAME
        <if test="id!=null and id!=''">
            AND id = #{id}
        </if>
        <if test="projectNo!=null and projectNo!=''">
            AND PROJECTNO = #{projectNo}
        </if>
        <if test="PMId!=null and PMId!=''">
            AND PMID = #{PMId}
        </if>
    </select>

</mapper>