<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.bs.mapper.ProjectMapper">
    <select id="getProject" parameterType="string" resultType="cn.wy.bs.dto.ProjectDto">
        SELECT p.*,u.REALNAME 'PMNAME'
        FROM t_project p,t_user u
        WHERE p.ISDELETE = 0 AND u.ISDELETE = 0
        AND p.PMID = u.USERNAME
        <if test="id!=null and id!=''">
            AND id = #{id}
        </if>
        <if test="projectNo!=null and projectNo!=''">
            AND PROJECTNO = #{projectNo}
        </if>
        <if test="PMId!=null and PMId!=''">
            AND PMID = #{PMId}
        </if>
    </select>


    <select id="getProjectList" parameterType="string" resultType="cn.wy.bs.dto.ProjectDto">
        SELECT p.*,u.REALNAME 'PMNAME'
        FROM t_project p,t_user u
        WHERE p.ISDELETE = 0 AND u.ISDELETE = 0
        AND p.PMID = u.USERNAME
        <if test="id!=null and id!=''">
            AND id = #{id}
        </if>
        <if test="projectNo!=null and projectNo!=''">
            AND PROJECTNO = #{projectNo}
        </if>
        <if test="projectName!=null and projectName!=''">
            AND PROJECTNAME LIKE concat('%',#{projectName},'%')
        </if>
        <if test="state!=null and state!=''">
            AND STATE = #{state}
        </if>
        <if test="setupTimeStart!=null and setupTimeStart!=''">
            AND SETUPDATE &gt;= #{setupTimeStart}
        </if>
        <if test="setupTimeEnd!=null and setupTimeEnd!=''">
            AND SETUPDATE &lt;= DATE_ADD(#{setupTimeEnd},INTERVAL 1 DAY)
        </if>
    </select>

</mapper>