<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.bs.mapper.UserProfileMapper">

    <select id="selectCandidate" resultType="cn.wy.bs.entity.UserProfile">
        SELECT up.*
        FROM t_userprofile up
        WHERE up.ISDELETE = 0
          AND up.ISLEADER="000000"
          AND up.RESTEAMID="000000"
    </select>

    <select id="selectLeader" resultType="cn.wy.bs.entity.UserProfile">
        SELECT up.*
        FROM t_userprofile up
        WHERE up.ISDELETE = 0
          AND up.ISLEADER="999999"
    </select>

    <select id="selectTeamMember" parameterType="String" resultType="cn.wy.bs.entity.UserProfile">
        SELECT up.*
        FROM t_userprofile up
        WHERE up.ISDELETE = 0
          AND up.RESTEAMID = #{resTeamId}
    </select>

    <select id="selectById" parameterType="String" resultType="cn.wy.bs.entity.UserProfile">
        SELECT up.*
        FROM t_userprofile up
        WHERE up.ISDELETE = 0
          AND up.ID = #{id}
    </select>

    <select id="selectByTeamId" parameterType="String" resultType="cn.wy.bs.entity.UserProfile">
        SELECT up.*
        FROM t_userprofile up
        WHERE up.ISDELETE = 0
          AND up.RESTEAMID = #{id}
    </select>


    <select id="selectMembersByResType" parameterType="String" resultType="cn.wy.bs.entity.UserProfile">
        SELECT up.*
        FROM t_userprofile up
        WHERE up.ISDELETE = 0
          AND up.RESTYPE = #{categoryCode}
    </select>

    <select id="selectByTel" parameterType="String" resultType="cn.wy.bs.entity.UserProfile">
        SELECT up.*
        FROM t_userprofile up
        WHERE up.ISDELETE = 0
          AND up.TELEPHONE = #{tel}
    </select>


    <select id="getUsers" resultType="cn.wy.bs.entity.UserProfile">
        SELECT up.*
        FROM t_userprofile up
        WHERE up.ISDELETE = 0
    </select>

    <select id="selectByUserId" parameterType="String" resultType="cn.wy.bs.entity.UserProfile">
        SELECT up.*
        FROM t_userprofile up
        WHERE up.ISDELETE = 0
          AND up.USERID = #{id}
    </select>
</mapper>