<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.bs.mapper.UserMapper">
    <select id="getByUserNameAndPassword" parameterType="string" resultType="int">
        SELECT count(*)
        FROM t_user
        WHERE isdelete = 0
          AND userName = #{userName}
          AND password = #{password}
    </select>

    <select id="getByUserName" parameterType="string" resultType="cn.wy.bs.entity.User">
        SELECT *
        FROM t_user
        WHERE isdelete = 0
          AND userName = #{userName}
    </select>

    <select id="getAuthByRoleId" parameterType="string" resultType="cn.wy.bs.entity.Auth">
        SELECT *
        FROM t_auth a,
             t_authrole ar,
             t_role r
        WHERE a.ID = ar.AUTHID
          AND ar.ROLEID = r.ID
          AND a.VISIABLE = 0
          AND a.ISDELETE = 0
          AND ar.ISDELETE = 0
          AND r.ISDELETE = 0
          AND r.ID = #{roleId}
        ORDER BY a.RANK
    </select>

    <select id="getUserByRoleId" parameterType="string" resultType="cn.wy.bs.entity.User">
        SELECT *
        FROM t_user
        WHERE ISDELETE = 0
          AND ROLEID = #{roleId}
    </select>


    <select id="getRoleByUserName" parameterType="String" resultType="cn.wy.bs.entity.Role">
        SELECT r.*
        FROM t_role r,
             t_user u
        WHERE r.ID = u.ROLEID
          AND r.ISDELETE = 0
          AND u.ISDELETE = 0
          AND u.USERNAME = #{userName}
    </select>

    <select id="getPermissionsByRoleId" parameterType="String" resultType="String">
        SELECT rp.PERMISSIONID
        FROM t_rolepermission rp
        WHERE rp.ISDELETE = 0
          AND rp.ROLEID = #{roleId}
    </select>


    <select id="getUserByUserName" parameterType="String" resultType="int">
        SELECT count(*)
        FROM t_user u
        WHERE u.ISDELETE = 0
          AND u.USERNAME = #{userName}
    </select>

    <select id="getUserByPhone" parameterType="String" resultType="int">
        SELECT count(*)
        FROM t_user u
        WHERE u.ISDELETE = 0
          AND u.PHONE = #{phone}
    </select>

    <select id="selectByTel" parameterType="String" resultType="cn.wy.bs.entity.User">
        SELECT u.*
        FROM t_user u
        WHERE u.ISDELETE = 0
          AND u.PHONE = #{tel}
    </select>


    <select id="selectByTel2" resultType="cn.wy.bs.entity.User">
        SELECT u.*
        FROM t_user u
        WHERE u.ISDELETE = 0
          AND u.PHONE = #{tel}
          AND u.ID NOT IN (#{id})
    </select>

    <select id="selectByUserName" parameterType="String" resultType="cn.wy.bs.entity.User">
        SELECT u.*
        FROM t_user u
        WHERE u.ISDELETE = 0
          AND u.USERNAME = #{userName}
    </select>
</mapper>