<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wy.bs.mapper.UserMapper">
    <select id="findByUserNameAndPassword" parameterType="string" resultType="int">
        SELECT count(*) FROM t_user WHERE userName=#{userName} AND password=#{password}
    </select>

    <select id="findByUserName" parameterType="string" resultType="cn.wy.bs.entity.User">
        SELECT * FROM t_user WHERE userName=#{userName}
    </select>

    <select id="findAuthByRoleId" parameterType="string" resultType="cn.wy.bs.entity.Auth">
        SELECT *
        FROM t_auth a,t_authrole ar,t_role r
        WHERE a.ID=ar.AUTHID AND ar.ROLEID=r.ID
        AND a.VISIABLE=0 AND a.ISDELETE=0 AND ar.ISDELETE=0 AND r.ISDELETE=0
        AND r.ID=#{roleId}
        ORDER BY a.RANK
    </select>
</mapper>